include conllu2xml/conlluparse/*
include conllu2xml/conlluconvert/*
include conllu2xml/lowercase/*
include conllu2xml/ner/*
include tests/*
include pyproject.toml
include README.md
include LICENSE.txt
